@page
@model LanguageCourses.Pages.Students.DeleteModel

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удаление</h1>

<h3>Уверены, что нужно удалить?</h3>
<div>
    <h4>Студент</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.Hobby)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Hobby)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Student.StudentID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к списку</a>
    </form>
</div>
