@page
@model LanguageCourses.Pages.Languages.DetailsModel

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>Язык</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Language.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Language.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Language.Complexity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Language.Complexity)
        </dd>
        <dt class="col-sm-2">
            Курсы
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Курс</th>
                    <th>Тема</th>
                    <th>Цена</th>
                </tr>
                @foreach (var item in Model.Language.Courses)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Theme)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Language?.LanguageID">Редактировать</a> |
    <a asp-page="./Index">Вернуться к списку</a>
</div>
